* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(210 210 210 /80%);
}

.row {
    margin: 20px;
} 

/* APPLY JUMBOTRON STYLES */
.jumbotron {
    position: relative;
    text-align: center;
    color: white;
  }


/* APPLY STYLES TO TEXT BOXES/IMGS */
.box {
    position: relative;
    display: inline-block;
}

.box .text {
    position: absolute;
    z-index: 999;
    margin: 0 0;
    left: auto;
    right: auto;        
    text-align: center;
    top: 0%; 
    background: rgba(31, 44, 74, 0.47);
    font-family: Arial,sans-serif;
    color: white;
    width: 70%; 
}

.box .text .small {
    width: 20%;
}

.jumbotron .box .text {
    right: 0px;
    top: 80%;
}

.ginger .text   {
    margin: 5px;
}

.col-4 {
    color: rgb(58, 60, 112);    
    border-right: 3px solid rgb(21, 31, 75);
    text-align: right;  
   }   

.col-12:hover, .col-5:hover {
    opacity: 50%;
}
/* TEXT BOX STYLES END */


/* WORK SECTION STYLES   */
.long-pic {
      width: 100%;
      border-radius: 10px;
  }

.short-pic {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    }
 

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .short-pic {
        height: 150px;
    }

    .col-6 {
        flex: auto;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .long-pic {
        width: 200px;
        padding-right: 0px;
        margin-left: -40px;        
    }

    .short-pic {
        height: 100px;
        width: 100px;        
        border-radius: 10px;  
        padding: 5px 5px; 
    }

    .reach-out {
        width: 50%;
        margin-top: 10px;
    }

    .container .row .col-4 {
        padding-top: 20px;
    }

    .col-6 {
        flex: auto;
    }

    .box .text {
        width: 90px;
    } 
}



